
<div class="container">
<div class="embed-responsive embed-responsive-21by9"  style="min-height: 1000px">
    <iframe class="embed-responsive-item" src="https://www.pandorabots.com/mitsuku/"     sandbox="allow-same-origin allow-top-navigation allow-forms allow-scripts" allowfullscreen>
        Ваш браузер не поддерживает плавающие фреймы!
    </iframe>
</div>
<div class="embed-responsive embed-responsive-21by9"  >
    <iframe class="embed-responsive-item" src="https://www.cleverbot.com/"     sandbox="allow-same-origin allow-top-navigation allow-forms allow-scripts" allowfullscreen>
        Ваш браузер не поддерживает плавающие фреймы!
    </iframe>
</div>
<div class="embed-responsive embed-responsive-21by9"  >
    <iframe class="embed-responsive-item" src="https://www.chimbot.com/en/"     sandbox="allow-same-origin allow-top-navigation allow-forms allow-scripts" allowfullscreen>
        Ваш браузер не поддерживает плавающие фреймы!
    </iframe>
</div>
<div class="embed-responsive embed-responsive-21by9"  >
    <iframe class="embed-responsive-item" src="https://www.pewdiebot.com/en/"     sandbox="allow-same-origin allow-top-navigation allow-forms allow-scripts" allowfullscreen>
        Ваш браузер не поддерживает плавающие фреймы!
    </iframe>
</div>
<div class="embed-responsive embed-responsive-21by9"  >
    <iframe class="embed-responsive-item" src="https://www.eviebot.com/en/"     sandbox="allow-same-origin allow-top-navigation allow-forms allow-scripts" allowfullscreen>
        Ваш браузер не поддерживает плавающие фреймы!
    </iframe>
</div>
<div class="embed-responsive embed-responsive-21by9"  >
    <iframe class="embed-responsive-item" src="https://www.williambot.com/en/"     sandbox="allow-same-origin allow-top-navigation allow-forms allow-scripts" allowfullscreen>
        Ваш браузер не поддерживает плавающие фреймы!
    </iframe>
</div>
</div>