<div class="container">
<div class="card-deck">

    <div class="card text-white bg-dark mb-3" style="min-width: 18rem;max-width:45rem;min-height:25rem;max-height: 100rem">
        <div class="card-header">  <a href="/topic" class="btn btn-primary stretched-link">Grammar</a> </div>
        <div class="card-body">
            <h5 class="card-title color-title">Learn grammar</h5>
            <p class="card-text">....</p>
        </div>
    </div>
    <div class="card text-white bg-dark mb-3" style="min-width: 18rem;max-width:45rem;min-height:25rem;max-height: 100rem">
        <div class="card-header">  <a href="#" class="btn btn-primary stretched-link">Words</a> </div>
        <div class="card-body">
            <h5 class="card-title color-title">Learn words</h5>
            <p class="card-text">....</p>
        </div>
    </div>
    <div class="card text-white bg-dark mb-3" style="min-width: 18rem;max-width:45rem;min-height:25rem;max-height: 100rem">
        <div class="card-header">  <a href="/chat-bots" class="btn btn-primary stretched-link">Chat bots</a> </div>
        <div class="card-body">
            <h5 class="card-title color-title">Practice writing</h5>
            <p class="card-text">....</p>
        </div>
    </div>
</div>


</div>
<style>
    .color-title{
        color: #006600;
    }
</style>